swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 16 16'%3E%3Cpath d='M11.354 1.354a.5.5 0 0 1 0 .707L5.207 8l6.147 6.146a.5.5 0 0 1-.708.708l-6.5-6.5a.5.5 0 0 1 0-.708l6.5-6.5a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E") !important;
    background-size: 24px 24px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5); /* Adding a slight background for better visibility */
    border-radius: 50%; /* Making it a circle */
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 14.854a.5.5 0 0 1 0-.708L10.793 8 4.646 1.854a.5.5 0 0 1 .708-.708l6.5 6.5a.5.5 0 0 1 0 .708l-6.5 6.5a.5.5 0 0 1-.708 0z'/%3E%3C/svg%3E") !important;
    background-size: 24px 24px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5); /* Adding a slight background for better visibility */
    border-radius: 50%; /* Making it a circle */
  }
  

   .carousel-inner {
    position: relative;
    width: 100%;
    
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure images cover the container */

  }
  
  .carousel-caption {
    bottom: 20%;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8); /* Adds shadow for better readability */
  }
  
  .carousel-caption h5 {
    font-size: 2rem; /* Adjust based on your design needs */
    font-weight: bold;
  }
  
  .carousel-caption p {
    font-size: 1.2rem; /* Adjust based on your design needs */
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border-radius: 50%; /* Round icons */
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 5%; /* Adjust the width of the control buttons */
  }
  

