
#bannerCourseInfo {
  background-image: url("https://www.shutterstock.com/image-photo/banner-homeschooling-workspace-laptop-stationery-260nw-1887490225.jpg");
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
  color: #002147 !important;
}


.list-group-item:hover {
    background-color: #f8f9fa; /* Light gray background on hover */
    transition: background-color 0.3s ease;
}

.tag-badge {
    font-size: 0.75rem; /* Slightly smaller font size for better fit */
    padding: 0.5rem 1rem; /* Padding for better spacing */
    border-radius: 999px; /* Fully rounded pill shape */
    color: #ffffff; /* White text color for contrast */
}

.tag-badge:nth-child(1) {
    background-color: #007bff; /* Blue */
}

.tag-badge:nth-child(2) {
    background-color: #28a745; /* Green */
}

.tag-badge:nth-child(3) {
    background-color: #ffc107; /* Yellow */
}

.tag-badge:nth-child(4) {
    background-color: #dc3545; /* Red */
}

.tag-badge:nth-child(5) {
    background-color: #17a2b8; /* Teal */
}

.tag-badge:nth-child(6) {
    background-color: #6c757d; /* Gray */
}

.tag-badge:nth-child(7) {
    background-color: #fd7e14; /* Orange */
}

.tag-badge:nth-child(8) {
    background-color: #6610f2; /* Purple */
}

.tag-badge:nth-child(9) {
    background-color: #e83e8c; /* Pink */
}

.tag-badge:nth-child(10) {
    background-color: #20c997; /* Mint Green */
}

