<app-navbar></app-navbar>
<div class="container py-5">
    <div class="container-fluid  border rounded shadow-sm bg-light">
        <!-- <div class="row mb-4">
            <div class="col-12 text-center">
                <h1 class="fw-bold display-4">Instructor Profile</h1>
            </div>
        </div> -->
        
        <div class="row mb-5">
            <div class="col-12 text-center mb-4 instructorProfile rounded p-5">
                <img src="https://picsum.photos/130/130" class="rounded-circle img-fluid shadow-sm border border-3 border-light mb-3" alt="Instructor Image">
                <p class="fw-bold fs-3 mb-1 text-light">{{ instructor.fullName }}</p>
            </div>
            <div class="col-12 text-center">
               
                <p class="text-muted mb-1">
                    Email: <a href="https://mail.google.com/mail/?view=cm&fs=1&to={{ instructor.email }}" target="_blank" class="text-decoration-none text-muted">{{ instructor.email }}</a>
                  </p>
                  
                  
                <!-- <p class="text-muted mb-1">Date of Birth: {{ instructor.dateOfBirth | date: 'longDate' }}</p> -->
                <p class="text-muted mb-3">Member since: {{ instructor.createdDate | date: 'MMMM yyyy' }}</p>
                <p class="fw-bold">Courses Created: {{ createdCourses.length }}</p>
                <p class="fw-bold">Registered users: {{ registeredUsers }}</p>
            </div>
        </div>
        
        <div class="row mb-5">
            <div class="col-12">
                <h3 class="fw-bold mb-3">Courses by {{ instructor.firstName }}</h3>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4"
                    infiniteScroll
                    [infiniteScrollDistance]="2"
                    [infiniteScrollThrottle]="300"
                    (scrolled)="onScroll()">
                    <div class="col" *ngFor="let course of displayedCourses">
                        <app-course-card [course]="course"></app-course-card>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="isLoading">
            <div class="col-12 text-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
            </div>
        </div>
    </div>
</div>
