<div class="container-fluid p-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <h2 class="mb-4 text-center text-primary">{{ course.title }}</h2>
        <p class="mb-4 text-center text-muted">{{ course.description }}</p>
  
        <div *ngFor="let question of course?.quiz?.questions; let i = index" class="mb-4">
          <fieldset class="border rounded p-4 bg-white shadow-lg">
            <legend class="fw-bold mb-3 text-dark">{{ question.questionText }}</legend>
  
            <div *ngFor="let option of question.options; let j = index" class="form-check mb-2">
              <input 
                type="radio" 
                [id]="'question' + i + 'option' + j" 
                name="{{ 'question' + i }}" 
                [value]="option" 
                (change)="userAnswers[i] = option"
                class="form-check-input"
                [checked]="userAnswers[i] === option"
              />
              <label [for]="'question' + i + 'option' + j" class="form-check-label text-secondary">
                {{ option }}
              </label>
            </div>
          </fieldset>
        </div>
  
        <div class="text-center mt-4">
          <button type="button" class="btn btn-primary btn-lg px-5 py-3" (click)="submitQuiz()" *ngIf="!submitted">Submit Quiz</button>
          <button type="button" class="btn btn-primary btn-lg px-5 py-3" disabled *ngIf="submitted">Your final score is {{score}}.</button>
        </div>
      </div>
    </div>
  </div>
  