<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row justify-content-center w-100">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <div class="card p-5 shadow-lg border-light">
          <div class="card-body">
            <h3 class="card-title text-center mb-4 fw-bold fs-3">Forgot Password</h3>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm)">
              <div class="form-group">
                <label for="email" class="form-label">Email Address</label>
                <input 
                  id="email" 
                  type="email" 
                  class="form-control" 
                  formControlName="email" 
                  placeholder="Enter your email">
                <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="text-danger mt-2">
                  <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required.</div>
                  <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Invalid email address.</div>
                  
                </div>
              </div><div *ngIf="userError">User does not exist.</div>
              <button *ngIf="!submitStatus && !loading" type="submit" class="btn btn-primary w-100 mt-3" [disabled]="forgotPasswordForm.invalid">Submit</button>
              <button *ngIf="!submitStatus && loading" type="submit" class="btn btn-primary w-100 mt-3" [disabled]="true">LOADING...</button>
              <button *ngIf="submitStatus" type="submit" class="btn btn-primary w-100 mt-3" [disabled]="true">PLEASE CHECK YOUR MAIL.</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  