# Ignore node_modules directory
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore Angular build artifacts
dist
out-tsc

# Ignore environment files (if you handle these differently for production)
# src/environments/environment.ts
# src/environments/environment.prod.ts

# Ignore editor and IDE settings
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore miscellaneous system files
.DS_Store
Thumbs.db
