<div class="container-fluid p-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <h2 class="mb-4 text-center text-primary">{{ contest.title }}</h2>
        <p class="mb-4 text-center text-muted">{{ contest.description }}</p>
  
        <div *ngFor="let question of contest?.quiz?.questions; let i = index" class="mb-4">
          <fieldset class="border rounded p-4 bg-white shadow-lg">
            <legend class="fw-bold mb-3 text-dark">{{ question.questionText }}</legend>
  
            <div *ngFor="let option of question.options; let j = index" class="form-check mb-2">
              <input 
                type="radio" 
                [id]="'question' + i + 'option' + j" 
                name="{{ 'question' + i }}" 
                [value]="option" 
                (change)="userAnswers[i] = option"
                class="form-check-input"
                [checked]="userAnswers[i] === option"
              />
              <label [for]="'question' + i + 'option' + j" class="form-check-label text-secondary">
                {{ option }}
              </label>
            </div>
          </fieldset>
        </div>
  
        <div class="text-center mt-4">
          <button type="button"  class="btn btn-primary btn-lg px-5 py-3" (click)="submitQuiz()" *ngIf="!submitted">Submit Quiz</button>
          <!-- <button type="button" class="btn btn-primary btn-lg px-5 py-3" disabled *ngIf="submitted">Your final score is {{score}}.</button> -->
          <button type="button" #myBtton id="myButton" hidden class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
          </button>
          <div class="modal fade"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Congratulations</h1>
                  <button type="button" id="btnClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body fs-2 my-3">
                  Your final score is {{score}}
                </div>
                <div class="modal-footer">
                  <p>Closing in {{closeTimer}}.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  