<div class="container">
  <h1 class="pb-2 border-bottom fw-bold text-uppercase">Badges</h1>
    <div class="row">
      <!-- Iterate through the badges array and display each badge -->
      <div class="col-md-12 col-lg-4 " *ngFor="let badge of badges">
        <div class="card shadow-sm my-4 " style="min-height: 25rem !important; border: 1px solid red;">
          <!-- Badge Icon -->
          <img
            [src]="'https://picsum.photos/1100/600?id='+badge.id"
            class="card-img-top"
            alt="Badge Icon"
            style="object-fit: contain"
          />
  
          <div class="card-body">
            <!-- Badge Name -->
            <h5 class="card-title">{{ badge.badgeName }}</h5>
  
            <!-- Badge Description -->
            <p class="card-text">{{ badge.badgeDescription }}</p>
  
            <!-- Course Title -->
            <p class="card-text font-weight-bold text-muted">
              Course: {{ badge.course?.title || 'Course title not available' }}
            </p>
          </div>
  
          <!-- Optional button for more actions -->
          <div class="card-footer">
            <button class="btn btn-primary btn-block" 
              [routerLink]="['/courses/course/info/'+badge.course?.id]" 
              routerLinkActive="router-link-active">
              View Course
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  