<div class="container mt-5">
  <h2 class="text-center mb-4">User List</h2>
  <button class="btn btn-primary mb-3" (click)="exportToExcel()">Export to Excel</button>
  <div class="table-responsive">
      <table class="table table-bordered table-striped">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Roles</th>
                  <th>Subscription Status</th>
                  <th>Actions</th>
                  <th>User status</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let user of users; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ user.fullName }}</td>
                  <td>{{ user.email }}</td>
                  <td>
                      <ul>
                          <li *ngFor="let role of user.roles">{{ role.name.split("_")[1] }}</li>
                      </ul>
                  </td>
                  <td>{{ user.subscribeToEmail ? 'Subscribed' : 'Not Subscribed' }}</td>
                  <td>
                      <button class="btn btn-outline-success btn-sm w-100" (click)="promoteToInstructor(user)" *ngIf="!hasRole(user, 'ROLE_INSTRUCTOR')">
                          <i class="fas fa-user-plus"></i> Promote to Instructor
                      </button>
                      <button class="btn btn-outline-primary btn-sm w-100" (click)="promoteToAdmin(user)" *ngIf="!hasRole(user, 'ROLE_ADMIN')">
                          <i class="fas fa-user-shield"></i> Promote to Admin
                      </button>
                      <button class="btn btn-outline-danger btn-sm w-100" (click)="removeInstructor(user)" *ngIf="hasRole(user, 'ROLE_INSTRUCTOR')">
                          <i class="fas fa-user-times"></i> Remove Instructor
                      </button>
                      <button class="btn btn-outline-warning btn-sm w-100" (click)="removeAdmin(user)" *ngIf="hasRole(user, 'ROLE_ADMIN')">
                          <i class="fas fa-user-slash"></i> Remove Admin
                      </button>
                  </td>
                  <td>
                      <div class="form-check form-switch ">
                          <input
                              class="form-check-input"
                              type="checkbox"
                              role="switch"
                              [checked]="!user.disabled"
                              (change)="toggleUserStatus(user.id)"
                              [ngClass]="{'bg-success': !user.disabled, 'bg-danger': user.disabled}"
                          />
                      </div>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
