<div class="container-fluid p-0">
  <div class="row justify-content-center">
    <div class="col" *ngIf="!showForm">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let course of courses">
          <ng-container>
            <div
              class="card bg-body-tertiary h-100"
             
              routerLinkActive="router-link-active"
            >
              <img
              [src]="course.imageUrl?(imagePageUrl+'images/course/'+ course.id +'/'+ course.imageUrl) : 'https://www.picsum.photos/170/100'" 
                loading="lazy"
                class="card-img-top"
               
                style="height: 45%"
              />
            

              <div class="card-body d-flex flex-column" style="height: 55%">
                <p class="card-title fw-bold h-100">
                  {{ course.title }}
                </p>
                <p class="card-text">
                  {{ course.description | limitTo : "60" }}
                </p>
                <div class="card-text btn-group">
                 <div class="btn btn-outline-dark"  (click)="showFormForCard(course)">Edit</div>
                 <div class="btn btn-outline-danger"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="selectCourseToDelete(course)" *ngIf="!course.disabled">Disable</div>
                 <div class="btn btn-outline-success"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="selectCourseToDelete(course)" *ngIf="course.disabled">Enable</div>
                 <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="staticBackdropLabel">Are you sure you want to continue?</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body btn-group">
                            <button type="button" class="btn btn-info" data-bs-dismiss="modal" id="closeModal" (click)="deletingCourse=null">Close</button>
                            <button type="button" class="btn btn-warning" (click)="deleteCourse()" >Confirm</button>
                        </div>
                      </div>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col" *ngIf="showForm">

        <div class="container-fluid p-0">
            <div class="row justify-content-center">
              <div class="col">
                <div class="card" style="border: none !important; background-color: inherit;">
                  <div class="card-body p-5">
                    <h3 class="card-title text-center mb-4 fs-2 fw-bolder">Course Form</h3>
                    <form [formGroup]="courseForm" (ngSubmit)="onSubmit(courseForm)">
                      <div class="form-group mb-4">
                        <label for="title" class="mb-1">Title</label>
                        <input type="text" id="title" formControlName="title" class="form-control" placeholder="Enter course title">
                        <div *ngIf="courseForm.get('title')?.invalid && courseForm.get('title')?.touched" class="text-danger mt-1">
                          Title is required
                        </div>
                      </div>
          
                      <div class="form-group mb-4">
                        <label for="authorName" class="mb-1">Author Name</label>
                        <input type="text" id="authorName" formControlName="authorName" class="form-control" placeholder="Enter author name">
                        <div *ngIf="courseForm.get('authorName')?.invalid && courseForm.get('authorName')?.touched" class="text-danger mt-1">
                          Author Name is required
                        </div>
                      </div>
          
                      <div class="form-group mb-4">
                        <label for="synopsis" class="mb-1">Synopsis</label>
                        <textarea id="synopsis" formControlName="synopsis" class="form-control" rows="3" placeholder="Enter synopsis"></textarea>
                        <div *ngIf="courseForm.get('synopsis')?.invalid && courseForm.get('synopsis')?.touched" class="text-danger mt-1">
                          Synopsis is required
                        </div>
                      </div>
          
                      <div class="form-group mb-4">
                        <label for="description" class="mb-1">Description</label>
                        <textarea id="description" formControlName="description" class="form-control" rows="3" placeholder="Enter description"></textarea>
                        <div *ngIf="courseForm.get('description')?.invalid && courseForm.get('description')?.touched" class="text-danger mt-1">
                          Description is required
                        </div>
                      </div>
          
                      <div class="form-group mb-4">
                        <label for="price" class="mb-1">Price</label>
                        <input type="number" id="price" formControlName="price" class="form-control" placeholder="Enter price" />
                        <div *ngIf="courseForm.get('price')?.invalid && courseForm.get('price')?.touched" class="text-danger mt-1">
                          Price is required
                        </div>
                      </div>
          
                      <div class="form-group mb-4">
                        <label for="tags" class="mb-1">Tags (comma separated)</label>
                        <input type="text" id="tags" formControlName="tags" class="form-control" placeholder="Enter tags">
                        <div *ngIf="courseForm.get('tags')?.invalid && courseForm.get('tags')?.touched" class="text-danger mt-1">
                          Tags are required
                        </div>
                      </div>
          
                      <div class="form-group mb-4">
                        <label for="endGoals" class="mb-1">End Goals (comma separated)</label>
                        <input type="text" id="endGoals" formControlName="endGoals" class="form-control" placeholder="Enter end goals">
                        <div *ngIf="courseForm.get('endGoals')?.invalid && courseForm.get('endGoals')?.touched" class="text-danger mt-1">
                          End Goals are required
                        </div>
                      </div>
          
                      <div class="form-group mb-4">
                        <label for="courseLevel" class="mb-1">Course Level</label>
                        <select id="courseLevel" formControlName="courseLevel" class="form-control">
                          <option value="" disabled>Select course level</option>
                          <option value="BEGINNER">Beginner</option>
                          <option value="INTERMEDIATE">Intermediate</option>
                          <option value="ADVANCED">Advanced</option>
                        </select>
                        <div *ngIf="courseForm.get('courseLevel')?.invalid && courseForm.get('courseLevel')?.touched" class="text-danger mt-1">
                          Course Level is required
                        </div>
                      </div>
          
                      <!-- Image Upload Field -->
                      <div class="form-group mb-4">
                        <label for="image" class="mb-1">Course Image (Max 5 MB)</label>
                        <input type="file" id="image" (change)="onImageSelected($event)" accept="image/*" class="form-control" required>
                        <div *ngIf="imageError" class="text-danger mt-1">
                          {{ imageError }}
                        </div>
                        <div *ngIf="imagePreview" class="mt-2">
                          <img [src]="imagePreview" alt="Image Preview" class="img-thumbnail" style="max-height: 200px; max-width: 200px;">
                        </div>
                      </div>
          
                      <button type="submit" class="btn btn-primary btn-block" [disabled]="!courseForm.valid || imageError" *ngIf="!courseUploaded">Submit</button>
                      <button class="btn btn-success btn-block" [disabled]="true" *ngIf="courseUploaded">Course uploaded successfully!</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

    </div>
  </div>
</div>
