<app-course-navbar (searchInputCall)="searchInputCall($event)" [courseSearchPage]="true"></app-course-navbar>
<div class="container-fluid my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3 mb-5"> <!-- Added mb-5 for bottom margin -->
    <h1 class="text-body-emphasis">Master E-Commerce Today</h1>
    <p class="lead">
      Discover our range of e-commerce courses designed to elevate your skills and boost your career.
    </p>
    <blockquote class="blockquote mt-4 text-secondary">
      <p class="mb-4">-- {{quote}} --</p>
    </blockquote>
  </div>
</div>




<main class="container">
  <div class="row mb-3 gy-3">
    <div class="col col-md-3 col-12">
      <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary sticky-top">
        <a
          href="/"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
        >
          <svg class="bi pe-none me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
          </svg>
          <span class="fs-4">Sidebar</span>
        </a>
        <hr />
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item" (click)="reset()">
            <a class="nav-link active" aria-current="page">
              <svg class="bi pe-none me-2" width="16" height="16">
                <use xlink:href="#home"></use>
              </svg>
              Home
            </a>
          </li>
          <li (click)="sortByPrice(1)">
            <a class="nav-link link-body-emphasis">
              <i class="bi bi-sort-numeric-up-alt"></i>
              Price : Low to High
            </a>
          </li>
          <li (click)="sortByPrice(-1)">
            <a class="nav-link link-body-emphasis">
              <i class="bi bi-sort-numeric-up-alt"></i>
              Price : High to Low
            </a>
          </li>
          <li >
            <a class="nav-link link-body-emphasis">
              <i class="bi bi-funnel"></i>
              Price Range: {{minPrice}} - {{maxPrice}}
            </a>
           <div class="text-center">
            <input  type="range" min="0" max="1000" [(ngModel)]="maxPrice" (change)="filterByPriceRange()" class="w-75 form-range" />
           </div>
          </li>
        
          <!-- Course Level Filter -->
          <li>
            <a class="nav-link link-body-emphasis">
              <i class="bi bi-book"></i>
              Course Level
            </a>
            <select class="form-select form-select-sm border-0" (change)="filterByCourseLevel($event)">
              <option value="">All Levels</option>
              <option value="BEGINNER">Beginner</option>
              <option value="INTERMEDIATE">Intermediate</option>
              <option value="ADVANCED">Advanced</option>
            </select>
          </li>
          
        </ul>
        <hr />
      </div>
    </div>
    <div class="col col-md-9 col-12">
      <div class="container" *ngIf="!isDataLoading">
        <div
          class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-3 mb-5"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="300"
          (scrolled)="onScroll()"
        >
        <ng-container  *ngFor="let course of displayedCourses">
          <div class="col" *ngIf="course.approvalStatus==constants.course_approved && !course.disabled">
            <app-course-card [course]="course"></app-course-card>
          </div></ng-container>
        </div>
        <div class="row mb-5" *ngIf="isLoading">
          <div class="col-12 text-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
      </div>
      <div class="container min-vh-100 centerIt" *ngIf="isDataLoading">
        <div class="spinner-border" role="status" style="width: 4rem; height: 4rem;">
          <span class="visually-hidden">Loading...</span>
      </div>
      
      
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
