

/* You can add global styles to this file, and also import other style files */
html,
body{
    min-height: 100vh;
    height: auto;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}


.centerIt{
    display: flex;
    justify-content: center;
    align-items: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html {
    scroll-behavior: smooth;
  }

.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
  }



  /* Base font settings */
body {
  font-family: 'Arial', 'Helvetica', sans-serif; /* Modern, clean font for body text */
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Headings */
h1, h2, h3 {
  font-family: 'Georgia', 'Times New Roman', serif; /* Serif font for a classic, elegant look */
  font-weight: bold;
  color: #222;
  margin: 0 0 1rem 0;
}

/* Subheadings */
h4, h5, h6 {
  font-family: 'Arial', 'Helvetica', sans-serif; /* Use the same as body for consistency */
  font-weight: bold;
  color: #444;
  margin: 0 0 0.75rem 0;
}

/* Paragraphs */
p {
  font-family: 'Arial', 'Helvetica', sans-serif; /* Same as body for consistency */
  font-weight: normal;
  margin: 0 0 1rem 0;
}


