<div class="container-fluid">
  <div
    class="row"
    style="background-color: #222427; color: white; font-weight: bold"
  >
    <div class="col text-center py-3">
      <span class="float-start btn btn-outline-light btn-sm" [routerLink]="['/courses/course/info/'+course?.id]" routerLinkActive="router-link-active" >Back</span>
      <span style="font-size: 2vh">{{ course?.title }}</span>
    </div>
  </div>
  <div class="row">
    <!--! Verion 1 -->
    <!-- <div
      class="col-lg-3 col-12 col order-lg-1 order-2 bg-body-light min-vh-100"
    >
      <div class="flex-shrink-0 px-3 py-5 shadow">
        <ul class="list-unstyled ps-0 shadow-lg">
          <li
            class="pb-1 list-group-item-info list-group-item"
            style="border: 1px solid black;"
            *ngFor="let unit of keysArray; index as i; trackBy: trackByFn"
          >
            <button
              class="btn btn-toggle d-inline-flex align-items-center rounded w-100 collapsed text-dark border-0"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#' + i + 'collapse'"
              aria-expanded="false"
              style="text-align: left;"
            >
              <i class="bi bi-caret-right"></i> {{ unit }}
            </button>
            <div class="collapse" [id]="i + 'collapse'">
              <ul class="list-group list-group-numbered">
                <li
                  class="list-group-item text-truncate"
                  *ngFor="let lesson of unitMap[unit]"
                  (click)="setCurrentUnitLecture(lesson)"
                >
                  {{ lesson.lessonActivityName }}
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div> -->
    <!--! Version 2  -->
    <div
      class="col-lg-3 col-12 col order-lg-1 order-2 bg-body-light min-vh-100"
    >
      <div class="flex-shrink-0 px-3 py-3 shadow sticky-top">
        <div
          class="progress my-3"
          role="progressbar"
          aria-label="Example with label"
          
        >
          <div class="progress-bar" [style.width]="completePercentage">{{completePercentage}}</div>
        </div>
        <ul class="list-unstyled ps-0 shadow-lg">
          <li
            class="pb-1 list-group-item"
            style="border: 1px solid #ddd; border-radius: 0.5rem"
            *ngFor="let unit of keysArray; index as i; trackBy: trackByFn"
          >
            <button
              class="btn btn-toggle d-inline-flex align-items-center rounded w-100 collapsed text-dark border-0"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#' + i + 'collapse'"
              aria-expanded="false"
              style="text-align: left; padding: 0.75rem 1rem"
            >
              <i class="bi bi-caret-right"></i> {{ unit }}
            </button>
            <div class="collapse" [id]="i + 'collapse'">
              <ul class="list-group list-group-numbered ">
                <li
                  class="list-group-item text-truncate mx-3"
                  *ngFor="let lesson of unitMap[unit]"
                  (click)="
                    setCurrentUnitLecture(lesson); markLectureViewed(lesson.id)
                  "
                  [ngClass]="{ active: isActive(lesson) }"
                  style="cursor: pointer; padding: 0.75rem 1rem"
                >
                  {{ lesson.lessonTitle }}
                  <span class="float-end"
                    ><i
                      class="bi bi-check-circle text-success"
                      *ngIf="lectureStatuses[lesson.id]"
                    ></i
                  ></span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-9 col-12 col order-lg-2 order-1">
      <div class="container p-3 sticky-top">
        <div class="row row-cols-1 gy-2">
          <div class="col p-0">
            <iframe
              class=""
              style="width: 100%; aspect-ratio: 9/5"
              [src]="currentLectureVideoUrl | safeUrl"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
          <div class="col">
            <div class="row border-start border-dark border-3">
              <div class="col col-lg-11 col-12">
                <h1 class="fw-bolder">{{ currentLecture?.lessonTitle }}</h1>
                <div
                  [innerHTML]="currentLecture?.lessonNotes | pointsList"
                ></div>
              </div>
              <div class="col col-lg-1 col-2">
                <span
                  *ngIf="isLast()"
                  (click)="goToNext()"
                  class="btn btn btn-secondary"
                  >Next</span
                >
              </div>
            </div>
          </div>
          <hr />
          <!-- ** Code -->
          <div class="col">
            <div class="card p-3 shadow-sm">
              <div class="card-head">
                <h4 class="card-title mb-3">Code Example</h4>
                <div class="code-container">
                  <pre class="code-block" id="code-block">
                    {{ currentLecture?.code }}
                  </pre>
                  <button class="btn btn-primary copy-btn" (click)="copyCode()">
                    Copy
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <!-- <ng-container
              *ngFor="
                let quiz of currentLecture?.quizzes;
                index as j;
                trackBy: trackByFn
              "
            >
              <h2>Quiz {{ j }}</h2>
              <ng-container *ngFor="let question of quiz.questions">
                <h3>{{ question.questionText }} ?</h3>

                <div class="row">
                  <ng-container *ngFor="let option of question.options">
                    <div class="col border">{{option}}</div>
                  </ng-container>
                </div>
                answer is {{question.correctAnswer}}
              </ng-container>
            </ng-container> -->
            <div class="container mt-4">
              <ng-container
                *ngFor="
                  let quiz of currentLecture?.quizzes;
                  index as j;
                  trackBy: trackByFn
                "
              >
                <h2 class="mb-4">Quiz {{ j + 1 }}</h2>
                <div class="row">
                  <ng-container
                    *ngFor="let question of quiz.questions; index as i"
                  >
                    <div class="col-12 mb-4">
                      <div class="card p-3 shadow-sm">
                        <div class="card-body">
                          <h3 class="card-title mb-3">
                            Question {{ i + 1 }}: {{ question.questionText }}
                          </h3>
                          <div class="form-group">
                            <div class="list-group">
                              <ng-container
                                *ngFor="
                                  let option of question.options;
                                  let idx = index
                                "
                              >
                                <div
                                  class="list-group-item d-flex align-items-center"
                                >
                                  <input
                                    type="radio"
                                    name="question{{ question.id }}"
                                    id="option{{ question.id }}_{{ idx }}"
                                    class="form-check-input me-2"
                                    [value]="option"
                                  />
                                  <label
                                    class="form-check-label"
                                    [for]="'option' + question.id + '_' + idx"
                                  >
                                    {{ getOptionLabel(idx) }}. {{ option }}
                                  </label>
                                </div>
                              </ng-container>
                            </div>
                          </div>
                          <div class="mt-3">
                            <strong>Correct Answer:</strong>
                            {{ question.correctAnswer }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>

          <!-- ? Comment Section
          <div class="col">
            
            <div class="row row-cols-1 gy-3">
              <div class="col p-0">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Recipient's username"
                    aria-label="Recipient's username"
                    aria-describedby="basic-addon2"
                  />
                  <span class="btn btn-secondary" id="basic-addon2"
                    >Comment</span
                  >
                </div>
              </div>
              <div
                class="col border p-3 rounded bg-body-secondary"
                *ngFor="let _ of [].constructor(10)"
              >
                Comment
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
